body{
  background:#f1f1f1;
}
header, nav  {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}
form {
  font-family:'Roboto', Helvetica Neue,helvetica,arial,verdana,sans-serif;
  font-weight:200;
  font-size: 2.4em;
  text-decoration: none;
  background: #333; 
  border-radius: 5px;
  color: white;
  padding: 3px 8px;
  margin: 1px;
  display: block;
}
p{
  font-family:'Roboto', Helvetica Neue,helvetica,arial,verdana,sans-serif;
  font-weight:200;
  font-size: 2.8em;
  line-height: 1.333em; /* 16px/12 =1.33em*/
  margin-bottom: 1.25em; /* 15px/12 =1.25em*/
}
h1{
  font-family:'Roboto', Helvetica Neue,helvetica,arial,verdana,sans-serif;
  margin:0px auto 0 auto;
  font-size: 2.8em;
  text-align:center;
  font-weight:200;
  color:#4b4b4b;
}
#navbar {
  font-family:'Roboto', Helvetica Neue,helvetica,arial,verdana,sans-serif;
  font-weight:200;
  font-size: 2.0em;
  text-align: center;
  text-decoration: none;
  background: #333; 
  border-radius: 5px;
  color: white;
  padding: 3px 8px;
}
#navbar li { display: inline; }
#navbar a {
        color: #fff;
        padding: 3px 8px;
        text-decoration: none;
        display: inline;
        width: 100px;
}