<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet"> 

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>RPi system</title>
 </head>
 <body>
<h1 align="center">Home secure system on RPi 4</h1>
<h3 align="center"><img src="{{ url_for('video_feed') }}" width="50%"></h3>

<form action="" method="POST">
  <label></label>
  <input type="submit" value="Добавить пользователя">
</form>

<form action="" method="POST">
  <label>Действия при обнаружении постороннего: </label><br>
  <label><input type="checkbox" name="option2" value="a2">Скриншот<br></label>
  <label><input type="checkbox" name="option2" value="a2">Видео<br></label>
  <label><input type="checkbox" name="option2" value="a2">Сообщение в telegram <br></label>
</form>

<form action="" method="POST">
  <label>Разрешение видео: </label>
  <select>
    <option disabled>Resolution</option>
    <option value="640x360">640x360</option>
    <option value="854x480">854x480</option>
    <option value="1280x720">1280x720</option>
    <option value="1920x1080">1920x1080</option>
    <option value="2560x1440">2560x1440</option>
   </select>
  <input type="submit" value="OK">
</form>

<form action="" method="POST">
  <label>Ориентация видео:</label>
  <select>
    <option disabled>Orientation</option>
    <option value="-1">-1</option>
    <option value="0">0</option>
    <option value="1">1</option>
   </select>
  <input type="submit" value="OK">
</form>

<form action="" method="POST">
  <label>Режим распознавания: </label>
  <label><input type="radio" name="regognition_status" value="yes" checked> Да</label>
  <label><input type="radio" name="regognition_status" value="no"> Нет</label>
</form>

<ul id="navbar">
      <li><a href="/--">[Status]</a></li>
      <li><a href="/--">[Storage]</a></li>
      <li><a href="/--">[Reboot]</a></li>
      <li><a href="/--">[Stop]</a></li>
</ul>

</body>
</html>
