<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet"> 

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>RPi system</title>
  <style type="text/css">
    @import url("styles/style.css");
  </style>
 </head>
 <body>
<h1 align="center">Home secure system on RPi 4</h1>
<h3 align="center"><img src="{{ url_for('video_feed') }}" width="50%"></h3>

<nav role='navigation'>
  <a href="">Add new user</a>
  <a href="">Screenshoot</a>
  <a href="">Triggers</a>  
  <a href="">Content storage</a>  
  <a href="">...</a>

</nav>

<ul id="navbar">
      <li><a href="/--">[Status]</a></li>
      <li><a href="/--">[Reboot]</a></li>
      <li><a href="/--">[Stop]</a></li>
    </ul>

</body>
</html>
