<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <link href="{{ url_for('static', filename='style4.css')}}" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>RPi system</title>
 </head>
 <body>
<h1 align="center">Home secure system on RPi 4</h1>
<h3 align="center"><img src="{{ url_for('video_feed') }}" width="50%"></h3>

<div class="settings">
  <form action="/train" method="POST">
    <label>Параметры обучения: </label><br>
    <label>Имя: <input type="text" name="train_name" required placeholder="Любой идентификатор"><br></label>
    <label>Фотографий для тренировки: <input type="number" name="train_frame_count" min="10" max="100" value="30"><br></label>
    <input type="submit" value="Начать...">
  </form>

  {% if photo_is_ready %}
  <form action="/train" method="POST">
    <input type="submit" name= "go_train" value="Обучить модель для {{ train_name }}">
  </form>
  {% endif %}
</div>
</body>
</html>
